aniso8601==1.2.0
appnope==0.1.0
attrs==16.2.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
certifi==2016.9.26
cffi==1.8.3
click==6.7
configparser==3.5.0
constantly==15.1.0
cryptography==1.5.2
cssselect==1.0.0
cycler==0.10.0
decorator==4.0.10
entrypoints==0.2.2
enum34==1.1.6
Flask==0.12
Flask-RESTful==0.3.5
functools32==3.2.3.post2
homebrew==0.0.7
idna==2.1
incremental==16.10.1
ipaddress==1.0.17
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
lxml==3.6.4
MarkupSafe==0.23
matplotlib==1.5.3
mistune==0.7.3
mongoengine==0.11.0
nbconvert==4.2.0
nbformat==4.1.0
notebook==4.2.3
numpy==1.10.2
pandas==0.19.1
parsel==1.0.3
pathlib2==2.1.0
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.8
ptyprocess==0.5.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
PyDispatcher==2.0.5
Pygments==2.1.3
pymongo==3.4.0
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-dateutil==2.4.2
pytz==2015.7
pyzmq==16.0.0
qtconsole==4.2.1
queuelib==1.4.2
requests==2.11.1
scikit-learn==0.18.1
scipy==0.18.1
Scrapy==1.2.1
seaborn==0.7.1
service-identity==16.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
statsmodels==0.6.1
terminado==0.6
tornado==4.4.2
traitlets==4.3.1
treeinterpreter==0.2.1
Twisted==16.5.0
virtualenv==15.1.0
w3lib==1.15.0
wcwidth==0.1.7
Werkzeug==0.11.15
widgetsnbextension==1.2.6
xlrd==1.0.0
zope.interface==4.3.2
